@font-face {
    font-family: "MulishBlack";
    font-style: normal;
    font-weight: 900;
    src: local("MulishBlack"),
        url("/fonts/Mulish-Black.woff2"),
        url("/fonts/Mulish-Black.woff");
}

@font-face {
    font-family: "MulishExtraBold";
    font-style: normal;
    font-weight: 800;
    src: local("MulishExtraBold"),
        url("/fonts/Mulish-ExtraBold.woff2"),
        url("/fonts/Mulish-ExtraBold.woff");
}

@font-face {
    font-family: "MulishBold";
    font-style: normal;
    font-weight: 700;
    src: local("MulishBold"),
        url("/fonts/Mulish-Bold.woff2"),
        url("/fonts/Mulish-Bold.woff");
}

@font-face {
    font-family: "MulishSemiBold";
    font-style: normal;
    font-weight: 600;
    src: local("MulishSemiBold"),
        url("/fonts/Mulish-SemiBold.woff2"),
        url("/fonts/Mulish-SemiBold.woff");
}

@font-face {
    font-family: "MulishMedium";
    font-style: normal;
    font-weight: 500;
    src: local("MulishMedium"),
        url("/fonts/Mulish-Medium.woff2"),
        url("/fonts/Mulish-Medium.woff");
}

@font-face {
    font-family: "MulishRegular";
    font-style: normal;
    font-weight: 400;
    src: local("MulishRegular"),
        url("/fonts/Mulish-Regular.woff2"),
        url("/fonts/Mulish-Regular.woff");
}

@font-face {
    font-family: "MulishLight";
    font-style: normal;
    font-weight: 300;
    src: local("MulishLight"),
        url("/fonts/Mulish-Light.woff2"),
        url("/fonts/Mulish-Light.woff");
}

@font-face {
    font-family: "MulishExtraLight";
    font-style: normal;
    font-weight: 200;
    src: local("MulishExtraLight"),
        url("/fonts/Mulish-ExtraLight.woff2"),
        url("/fonts/Mulish-ExtraLight.woff");
}




































