.item__name {
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
    padding-bottom: 7px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .item__name {
        font-size: 16px;
        line-height: 15px;
        font-weight: normal;
        padding-bottom: 4px;
    }
}
    
@media (min-width: 425px) and (max-width: 767px) {
    .item__name {
        font-size: 15px;
    }
}