.product__navigation {
    z-index: 1;
    left: 1109px;
    top: 311px;
    padding-left: 20px;
    position: absolute;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .product__navigation {
        z-index: 1;
        left: 830px;
        top: 180px;
        position: absolute;
    }

    .product__navigation li:last-child {
        padding-right: 200px;
    }  
}

@media (min-width: 768px) and (max-width: 1023px) {
    .product__navigation {
        z-index: 1;
        left: 630px;
        top: 150px;
        position: absolute;
    }

    .product__navigation li:last-child {
        padding-right: 200px;
    }  
}
    
@media (min-width: 425px) and (max-width: 767px) {
    .product__navigation {
        z-index: 1;
        left: 350px;
        top: 120px;
        position: absolute;
    }

    .product__navigation li:last-child {
        padding-right: 200px;
    }  
}
    
@media (min-width: 375px) and (max-width: 424px) {
    .product__navigation {
       display: none;
    }
}
    
@media (min-width: 320px) and (max-width: 374px) {
    .product__navigation {
        display: none;
     }    
}