.last-chance__messi {
    position: relative;
    bottom: -9px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .last-chance__messi {
        width: 150px;
        bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .last-chance__messi {
        width: 165px;
        bottom: 38px;
    }
}
    
@media (min-width: 425px) and (max-width: 767px) {
    .last-chance__messi {
        width: 165px;
        bottom: 38px;
    }
}
    
@media (min-width: 375px) and (max-width: 424px) {
    .last-chance__messi {
        padding-left: 55px;
        height: 300px;
        bottom: 41px;
     }
}
    
@media (min-width: 320px) and (max-width: 374px) {
    .last-chance__messi {
        padding-left: 55px;
        height: 300px;
        bottom: 41px;
     }
}