.footer__contacts {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__contacts img {
    padding-right: 8px;
}

.footer__contacts a {
    list-style: none;
    text-decoration: none;
    padding-right: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #303032;
}

@media (min-width: 425px) and (max-width: 767px) {
    .footer__contacts a {
        padding-right: 0;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .footer__contacts {
        padding: 30px 0 0 0;
        flex-direction: column;
        margin-left: 24px;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .footer__contacts {
        padding: 30px 0 0 0;
        flex-direction: column;
        margin-left: 16px;
    }
}