.footer__main {
    width: 1170px;
    margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .footer__main {
        width: 900px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer__main {
        width: 700px;
    }
}
    
@media (min-width: 425px) and (max-width: 767px) {
    .footer__main {
        width: 400px;
    }
}
    
@media (min-width: 375px) and (max-width: 424px) {
    .footer__main {
        width: 375px;
    }
}
    
@media (min-width: 320px) and (max-width: 374px) {
    .footer__main {
        width: 320px;
    }  
}