.product__img { 
    position: absolute;
    left: 566px;
    top: 0;
    z-index: 0;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .product__img {
        width: 292px; 
        left: 467px;
        top: 100px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .product__img {
        width: 292px; 
        left: 334px;
        top: 80px;
    }
}
    
@media (min-width: 425px) and (max-width: 767px) {
    .product__img {
        width: 200px; 
        left: 175px;
        top: 70px;
    }    
}
    
@media (min-width: 375px) and (max-width: 424px) {
    .product__img {
        position: relative;
        width: 100%;
        left: 0;
        top: -40px;
    }  
}
    
@media (min-width: 320px) and (max-width: 374px) {
    .product__img {
        position: relative;
        width: 100%;
        left: 0;
        top: -40px;
    }      
}