.sale__title h3 {
    text-transform: uppercase;
    font-family: "PlayfairDisplayBold", sans-serif;
    letter-spacing: 0.05em;
    font-size: 28px;
    line-height: 37px;
    position: relative;
    padding-top: 73px;
    padding-bottom: 7px;
}

.sale__title h3::after {
    content: '';
    position: absolute;
    border-bottom: 4px solid #303032;
    width: 90px;
    left: 0;
    bottom: 0;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .sale__title h3 {
        padding-top: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .sale__title h3 {
        padding-top: 60px;
    }
}
    
@media (min-width: 425px) and (max-width: 767px) {
    .sale__title h3 {
        padding-top: 60px;
    }
}
    
@media (min-width: 375px) and (max-width: 424px) {
    .sale__title {
        padding-left: 24px;
    }
    .sale__title h3 {
        padding-top: 40px;
        line-height: 27px;
    }    
}
    
@media (min-width: 320px) and (max-width: 374px) {
    .sale__title {
        padding-left: 16px;
    }
    .sale__title h3 {
        padding-top: 40px;
        font-size: 20px;
        line-height: 27px;
    }   
}