.item-product__price {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 26px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .item-product__price {
        padding-bottom: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .item-product__price {
        font-size: 18px;
    }
}
    
@media (min-width: 425px) and (max-width: 767px) {
    .item-product__price {
        font-size: 17px;
        padding-bottom: 16px;
    }
}
    
@media (min-width: 375px) and (max-width: 424px) {

    }
    
@media (min-width: 320px) and (max-width: 374px) {
       

    }