.header {
    width: 100%;
    background: linear-gradient(to right, #f9fdff 63%, #fceae8 37%);
}

@media (min-width: 375px) and (max-width: 424px) {
    .header {
        background: #f9fdff;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .header {
        background: #f9fdff;
    }
}