.last-chance__owl {
    position: relative;
    bottom: -12px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .last-chance__owl {
        width: 145px;
        bottom: -2px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .last-chance__owl {
        width: 165px;
        bottom: 27px;
    }
}
    
@media (min-width: 425px) and (max-width: 767px) {
    .last-chance__owl {
        width: 165px;
        bottom: 27px;
    }    
}
    
@media (min-width: 375px) and (max-width: 424px) {
    .last-chance__owl {
        padding-left: 46px;
        height: 300px;
        bottom: 41px;
     }
}
    
@media (min-width: 320px) and (max-width: 374px) {
    .last-chance__owl {
        padding-left: 46px;
        height: 300px;
        bottom: 41px;
     }    

}